
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    
  background-color: black;
  color: white;
  font-size: 14px;
}
html {
  scroll-behavior: smooth;
}
.header{
  position: fixed;
  background-color: orange;
  width: 100%;
  height: 50px;
  border: none;
}
.sidebar{
    height: auto;
    width: auto;
    background-color: orange;
    margin-top: 0px;
    display: none;
}
.show-sidebar{
  display: inline;
  position: fixed;
  top: 3.4rem;
  height: auto;
    }
.sidebar-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
}
.sidebar-category{
    display: flex;
    align-items: center;
    padding: 20px 25px;
    cursor: pointer;
}
.sidebar-category span{
    margin-left: 15px;
    text-decoration: none;
}
.sidebar-category:hover{
    background: #e5e5e5;
    cursor: pointer;
}
.sidebar:-webkit-scrollbar{
    display: none;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}
.sidebar a{
    text-decoration: none;
    color: black;
}
.categorynn a{
    text-decoration: none;
    color: black;
}
.categorynn a:hover{
    color: #000;
    text-decoration: none;
}
.search-box{
    max-width: 500px;
    width: 90%;
    height: 35px;
    display: flex;
    padding: 240px 20px;
}

.search-bar{
    width: 90%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search-btn{
    width: 20%;
    height: 39px;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
    margin-right: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.search-btn i{
    height: 100%;
    color: rgb(96, 96, 96);
}
.search-bar:hover{
    background-color: white;
}
.search-btn:hover{
  background-color: white;
}
.image{
  width: 100%;
  height: 20px;
}
.image img{
  height: 70px;
  margin-top: 40%;
}
.header-menu{
  padding: 15px 20px;
}
.sidebar-categories{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 0px;
}
.footer-section{
  background-color: orange;
  width: 100%;
  height: 250px;
  margin-top: 360px;
  overflow-x: none;
  overflow-y: none;
}
.footer-section p{
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.footer-section a{
  text-decoration: none;
  color: black;
}
.footer-section a:hover{
  text-decoration: none;
  color: black;
}
.footer-section h6{
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: 10;
  color: black;
  margin-top: 10px;
}
.mini-body{
  padding: 25px;
  overflow-x: none;
  overflow-y: none;
}
.contact-us img{
  height: 30px;
  margin-top: 20px;
  padding: 3px 3px;
  color: black;
}
.contact-us{
  margin-left: 24%;
  margin-right: 24%;
}
#menu{
  cursor: pointer;
  margin-top: -2px;
  color: black;
}
.header-right{
  margin-left: 300px;
  margin-top: -35px;
}
.dark-mode {
  background-color: white;
  color: black;
}
.header-center{
  margin-left: 60px;
  margin-top: -47px;
  align-items: center;
}
.theme-btn{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 40px;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
.other-div{
  width: 100%;
  height: 50px;
  text-align: center;
}
.oopss{
  font-size: 20px;
  font-weight: 600;
}
.body-main{
  margin-top: 50%;
}
.error-404{
  font-size: 200px;
}
.par{
  margin-top: 20px;
  font-weight: 550;
  color: dimgrey;
}
.sbt-btn{
background-color: orange;
border: none;
border-radius: 5px;
width: 20%;
height: 40px;
margin-top: 30px;
text-decoration: none;
}
.sbt-btn:hover{
  text-decoration: none;
  background-color: #f5c256;
}
